{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <div class="col-3"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Восстановление пароля
                </h4>
            </div>
            <div class="card-body">
                {% if success_message %}
                <p>{{ success_message }}</p>
                <a href="{% url 'users:login' %}" class="btn btn-success">Вход</a>
                {% else %}
                <form class="row" method="post">
                    {% csrf_token %}
                    <input type="email" name="email">
                    <p></p>
                    <button type="submit" class="btn btn-success">
                        Восстановить пароль
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}